#game {
  display: flex;
  width: 680px;
  flex-wrap: wrap;
  margin: 0 auto;
}

#game > div {
  width: 100px;
  height: 100px;
  margin: 5px;
  background-color: #386fa4;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
